* {
  margin: 0;
  padding: 0;
}

body {
  background: #dde1e7;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*flex-direction: column;*/
  margin: 120px;
}

.neu {
  height: 300px;
  width: 300px;
  background: #dde1e7;
  border-radius: 27px;
  transition: transform 450ms;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000070;
}

.photo {
  object-fit: contain;
  margin: 21px;
}

.neu:hover {
  transform: scale(1.08);
}

/* second box */

.name {
  height: 200px;
  width: 200px;
  background: #dde1e7;
  border-radius: 27px;
  transition: transform 450ms;
  box-shadow: -3px -3px 5px #e0610e70, 3px 3px 15px #00000070;
}

.photo2 {
  object-fit: contain;
  margin: 31px;
  border-radius: 27px;
}

.name:hover {
  transform: scale(1.07);
}

/*THird box*/

.rotate {
  height: 200px;
  width: 200px;
  background: red;
  border-radius: 100px;
  /*transition: transform 450ms;*/
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000070;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.photo3 {
  object-fit: contain;
  margin: 21px;
  border-radius: 100px;
}

.rotate:hover {
  transform: scale(1.07);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.h1 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
